@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro{
    max-width: 984px;
    margin: auto;
    margin-top: 114px;
    color: #FFFFFF;
    display: flex;
    justify-items: start;
    flex-direction: column;   
    
}


    @media screen and (max-width: 1024px) {
        .intro{
            padding: 0 48px 0;
        }
    }
    
    @media screen and (max-width: 768px){
            .intro{
                padding: 0 24px 0;
                margin-top: 114px;
            }
        }

    @media screen and (max-width: 425px){
            .intro{
                padding: 0 16px 0;
                margin-top: 64px;
               
            }
        }
