@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover{
    margin: 0;
    padding: 0;
    margin-top: 92px;
}

@media screen and (min-width: 1280px){
    .cover{
    margin: 0 48px 0;
    }
}
