.place__paragraph{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #FFFFFF;
    margin-bottom: 24px;
    
}



@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
        line-height: 1.62;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph{
        padding: 0 16px 0;
    }